[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "semboottools"]
	path = semboottools
	url = https://github.com/yangzhen1999/semboottools
[submodule "wsMed"]
	path = wsMed
	url = https://github.com/yangzhen1999/wsmed
